<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="SQLiteConnection"
			 connectionString="Data Source=|D:\123456789\repos\Models|\MyDatabase.db;Version=3;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="AppVersion" value="1.0.0" />
		<add key="MaxRetryAttempts" value="5" />
	</appSettings>
</configuration>